<div class='single-rx'>
    <h3>{{rx}}</h3>

    <div class='secondary-info'>
        <div class='rx-font'>Refill by: {{format_date refill_date}}<div>
        <div class='rx-font'>Cost: ${{cost}}</div>
        <div class='rx-font'>
            Prescribed on:
            {{format_date date_prescribed}}</div>
    </div>

</div>