<div class='single-rx'>
    <h3>{{prescription_name}}</h3>
    <h4>Refill by: {{refill_date}}</h4>

    <div class='secondary-info'>
        <div>${{cost}}</div>
        <div>
            Prescribed on:
            {{date_prescribed}}</div>
    </div>

</div>