<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Project Dose</title>

        <link
            href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css'
            rel='stylesheet'
            integrity='sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx'
            crossorigin='anonymous'
        />
        <link rel='stylesheet' href='/stylesheets/style.css' />

    </head>
    <body>
        <section>
            <header>
                <h2> <a href='#' class='logo'>logo</a></h2>
                <div class='navigation'>
                    <a href='/'>Home</a>
                    {{!-- <a href='#'>Appointments</a> --}}
                    <a href='/dashboard'>Prescriptions</a>
                    {{!-- <a href='#'>Contact Us</a> --}}
                    {{#if loggedIn}}
                        <button id='logout' class='bg-danger'>Logout</button>
                    {{else}}
                        <a href='/login' class='loginBtn'>Log In</a>
                    {{/if}}
                </div>
            </header>
            <div class='content'>
                <div class='info'>
                    {{! <h2>When You Feel Good<br>You Feel Good</h2>
            <p>Our mission at Dose is to make sure that you are able to maintain peak health by keeping track 
               of the most important things in your life, namely your prescriptions. We believe that when your 
               body is feeling the best, your mind is free to 
            </p> }}

                    {{{body}}}
                </div>
            </div>
            <div class='media-icons'>
                <a href='#'></a>
            </div>

        </section>
        {{#if loggedIn}}
            <script src='/javascript/logout.js'></script>
        {{/if}}
    </body>

</html>