<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Dose</title>
    <link rel="stylesheet" href="./public/style.css">
</head>
<body>
    <section>
        <header>
            <h2> <a href="#" class="logo">logo</a></h2>
            <div class="navigation">
                <a href="#">Home</a>
                <a href="#">Appointments</a>
                <a href="#">Prescriptions</a>
                <a href="#">Contact Us</a>
                {{#if loggedIn}}
                <a href="/homepage">homepage</a>
                <button id="logout">logout</button>
                {{else}}
                <a href="/login" class="loginBtn">Sign In</a>
                {{/if}}
            </div>
        </header>
    <div class="content">

    <div class="media-icons">
        <a href="#"></a>
    </div>


    </section>
    
</body>
</html>
