<section>
    <h2>Add Your Prescriptions Here</h2>

    <form class="new-rx">
        <div>
            <label for="rx-name">Medication Name</label>
            <input type="text" id="rx-name" class="form-control" name="rx-name" placeholder="Medication Name and Strength" />
        </div>
        {{!-- <div>
            <label for="rx-freq">Medication Instructions</label>
            <input type="text" id="rx-freq" class="form-control" placeholder="Instructions" />
        </div>
        <div>
            <label for="rx-qty">Medication Quantity</label>
            <input type="text" id="rx-qty" class="form-control" placeholder="Quantity">
        </div> --}}
        <div>
            <label for="rx-cost">Medication Cost</label>
            <input type="text" id="rx-cost" class="form-control" name="rx-cost" placeholder="Cost" />
        </div>
        <div>
            <label for="fill-date">Medication Fill Date</label>
            <input type="text" id="fill-date" class="form-control" name="fill-date" placeholder="Date you got your prescription" />
        </div>
        <div>
            <label for="refill-date">Medication Refill Date</label>
            <input type="text" id="refill-date" class="form-control" name="refill-date" placeholder="Date to refill prescription">
        </div>
        {{!-- <div>
            <label for="med-diag">Diagnosis</label>
            <input type="text" id="med-diag" class="form-control" name="med-diag" placeholder="Diagnosis">
        </div> --}}
        <div>
            <button type="submit" id="add-rx" class="form-control">Add RX</button>
        </div>
    </form>
</section>

{{#if prescriptions.length}}
<section>
    <h3>Your Prescriptions</h3>
    <ol>
        {{#each prescriptions as |prescription|}}
        <li>
            
            {{> single-rx prescription}}
            <a href="/dashboard/edit/{{prescription.id}}" class="edit-rx">Edit Prescription</a>
        </li>
        {{/each}}
    </ol>
    <button type="click" id="notify-all-btn">Click here to get a text reminder for all your prescriptions!</button>
</section>
{{/if}}

<script src="/javascript/add-rx.js"></script>
<script src="/javascript/notify-all.js"></script>