<div class="info">
    <h2>When You Feel Good<br>You Feel Good</h2>
        <p>Our mission at Dose is to make sure that you are able to maintain peak health by keeping track 
            of the most important things in your life, namely your prescriptions. We believe that when your 
            body is feeling the best, your mind is free to 
        </p>
</div>
