<div class='row'>
    <div class='col'>
        <div id='slogan' class=''>
            <h2>When You Feel Good,<br /><span>You Feel Good.</span></h2>
            <p>Our mission at Dose is to ensure that you are able to maintain
                peak health by keeping track of the most important things in
                your life, namely your prescriptions. We believe that when your
                mind and body are in sync the possibilities are endless.
            </p>

        </div>

    </div>

    <div class='col boomers'>
        <div class=''>
            <img src='/assets/images/seniors.jpg' />
        </div>
    </div>
</div>