<form class='login-form container w-50'>
    <div>
        <h1 class=''>Login</h1>
    </div>
    <div>
        <label for='login-username'>username:</label>
        <input
            type='text'
            id='login-username'
            class='form-control'
            placeholder='username'
        />
    </div>
    <div>
        <label for='login-pw' class='form-label'>password:</label>
        <input
            type='text'
            id='login-pw'
            class='form-control'
            placeholder='password'
        />
    </div>
    <div>
        <button type='submit' class='form-control bg-primary'>Login</button>
    </div>
</form>

<form class='register-form container w-50'>
    <div>
        <h1>Register</h1>
    </div>
    <div>
        <label for='register-username'>username:</label>
        <input
            type='text'
            id='register-username'
            class='form-control'
            placeholder='username (Required)'
        />
    </div>
    <div>
        <label for='register-email'>email:</label>
        <input
            type='text'
            id='register-email'
            class='form-control'
            placeholder='email (Registered)'
        />
    </div>
    <div>
        <label for='register-number'>phone number:</label>
        <input
            type='text'
            id='register-number'
            class='form-control'
            placeholder='phone number (Optional)'
        />
    </div>
    <div>
        <label for='register-pw'>password:</label>
        <input
            type='text'
            id='register-pw'
            class='form-control'
            placeholder='password (Required)'
        />
    </div>
    <div>
        <button type='submit' class='form-control bg-primary'>Register</button>
    </div>
</form>

<script src='/javascript/login.js'></script>