* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(./img/dose\ background.png);
}

header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #226A80;
}

header .logo {
    position: relative;
    color: #000;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

header .navigation a{
    color: #000;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .navigation a:not(:last-child){
    margin-right: 30px;
}

header .navigation a:hover {
    background: #fff;
}

.content {
    max-width: 650px;
    margin: 60px 100px;
}

.content .info h2{
    color: #226A80;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .info h2 span {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}

.content .info p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.boomers {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    float: right;
    margin-left: 1000px;
    margin-top: -480px;
}

/* media queries */
/* Phone screen size */

@media only screen and (max-width: 480px) {
    
  
    section {
        position: relative;
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    header {
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #226A80;
    }
    
    header .logo {
        position: relative;
        color: #000;
        font-size: 60px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 1px;
        margin-left: -60px;
    }
    
    header .navigation a{
        color: #000;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 2px 15px;
        border-radius: 5px;
        transition: 0.3s;
        margin-left: 30px;
    }
    
    header .navigation a:not(:last-child){
        margin-right: 30px;
    }
    
    header .navigation a:hover {
        background: #fff;
    }
    
    .content {
        max-width: 650px;
        margin-top: 150px;
    }
    
    .content .info h2{
        color: #226A80;
        font-size: 35px;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 1px;
        line-height: 40px;
        margin-bottom: 30px;
    }
    
    .content .info h2 span {
        color: #fff;
        font-size: 35px;
        font-weight: 600;
    }
    
    .content .info p{
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 120px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .boomers {
        display: none;
    }

/* Tablet screen size */


@media only screen and (max-width: 1024px) {

    
    section {
        position: fixed;
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    header {
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #226A80;
    }
    
    header .logo {
        position: relative;
        color: #000;
        font-size: 60px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 1px;
        margin-left: -60px;
    }
    
    header .navigation a{
        color: #000;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 2px 15px;
        border-radius: 5px;
        transition: 0.3s;
        margin-left: -10px;
        font-size: 20px;
   
    }
    
    header .navigation a:not(:last-child){
        margin-right: 30px;
    }
    
    header .navigation a:hover {
        background: #fff;
    }
    .body {
        background-color: aqua;
        width: 100%;
    }
    .content {
        max-width: 650px;
        margin-top: 150px;
        width: 100%;
    }
    
    .content .info h2{
        color: #226A80;
        font-size: 35px;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 1px;
        line-height: 40px;
        margin-bottom: 30px;
    }
    
    .content .info h2 span {
        color: #fff;
        font-size: 35px;
        font-weight: 600;
    }
    
    .content .info p{
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 120px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        align-items: center;
    }
    
    .boomers {
        display: none;
    }

}
}